{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style-contact.css')) }} ">{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main>
        <h1>Contact</h1>
        <div>
            {{ include('contact/_form.html.twig') }}
        </div>
    </main>
{% endblock %}